.hero-grid{
  display:grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  gap:1em;
}

.hero-grid h2{
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 72px;
  line-height: 67px;
  letter-spacing: -0.02em;
  color: rgba(33, 33, 33, 0.8);
}
.hero-grid .hero-cta {
  display:flex;
  align-items:center;
  width: 315px;
  height: 60px;
  margin-left:60px;
  margin-top:32px;
  padding-left:50px;
  background: #FFFFFF;
  border: 2px solid rgba(33, 33, 33, 0.3);
  text-decoration: none;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 67px;
/* identical to box height, or 419% */
  letter-spacing: -0.02em;
  color: #000000;
}